* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%
}

body {
  background-color: RGB(222, 184, 135);
}

.lavishly-yours-regular {
  padding-left: 2rem;
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

@media (max-width: 883px) {
  .lavishly-yours-regular {
    padding-left: 2rem;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .lavishly-yours-regular {
    padding-left: 2rem;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
  }
}

nav {
  height: 7rem;
  background-color: rgb(85, 107, 47);
  margin-top: 0;
  box-shadow: 0 7px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 999;
  position: relative;

}

nav ul {
  height: 100%;
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-in-header {

  height: 100%;

}

nav li:hover {
  background-color: #f0f0f0;
}

nav a {
  height: 100%;
  color: black;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

@media (max-width: 1160px) {
  nav a {
    font-size: 1.5rem;
  }
}

@media (max-width: 962px) {
  nav a {
    font-size: 1.1rem;
  }
}


nav a:hover {
  background-color: #f0f0f0;
}

#home-section {
  height: calc(100vh - 9.05rem);
  width: 100%;
  background: RGB(222, 184, 135);
  display: flex;
  flex-direction: column;

}

#about-tea-house-area {
  width: 100%;
  display: flex;
  height: 50vh;
  justify-content: space-evenly;
  align-items: center;
}

.about-us-picture {
  padding-top: 2rem;
  height: 15rem;
  width: 30rem;
  border-collapse: separate;
  display: inline-block;
  overflow: hidden;
}

.about-us-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.tea-house-header {
  text-decoration: none;
  border: 2px solid black;
  width: fit-content;
  padding: .5rem;
  border-radius: 3rem;
}

.about-us-description {
  display: flex;
  width: 40rem;
  height: 25rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(85, 107, 47, 75) 45%, rgba(92, 169, 4, 0)), url("./assets/GreenLeaves.jpg");

}


#shopping-section {
  display: grid;
  width: 100%;
  height: calc(100vh - 9.05rem);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

#filter-box {
  background-color: rgb(77, 85, 85);
  grid-row: 1 / 7;
  grid-column: 1 / 2;
}

#catalog-of-items {
  grid-row: 1 / 7;
  grid-column: 2 /6;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

#shopping-cart-area {
  grid-row: 1 /2;
  grid-column: 6/7;
  background-color: beige;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: .3rem;
}

#shopping-cart-area:hover {
  cursor: pointer;
}

#total-items-in-cart {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

/*--------------Product Card CSS--------------*/
.product-card {
  margin: 1rem;
  background-color: rgb(191, 168, 67);
  max-width: 25%;
  height: 18%;
  width: 25%;
  border-radius: 1rem;
  transition: all .6s ease;
}

.product-card:has(.product-card-description:hover) {
  height: 30%;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 4px;

}

.product-card-picture-area {
  height: 7rem;
  width: 100%;
  background-color: #f0f0f0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.source-picture {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  position: relative;

}

.product-card-description:hover .more-tea-info {
  opacity: 100%;
}

.name-of-tea {
  position: absolute;
  top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

.more-tea-info {

  position: absolute;
  top: 2.5rem;
  text-align: center;
  opacity: 0%;
  transition: .3s;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: 50;

}



/*--------------End Of Product Card CSS--------------*/

/*--------------Popup Box--------------*/

.popup {
  grid-column: 1 / 7;
  grid-row: 1 / 7;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  position: relative;
  background-color: #f0f0f0;
  height: 40%;
  width: 25%;
  padding: 4rem;
}


.popup-content {

  top: 3rem;
  text-align: center;
  width: 100%;
}

.popup-table {
  width: 100%;
}

/*--------------Tea House Button--------------*/
.tea-house-button {
  height: 1rem;
  width: 2rem;
  color: white;
  background-color: firebrick;
  border: .5rem;
}



/*--------------More Links Section--------------*/
#links-section {
  grid-column: 6 / 7;
  grid-row: 2 / 7;

}



#links-section p {
  border-top: solid 1px black;
  padding-top: 1rem;
  text-align: center;
}

.link-items {
  list-style: none;
  padding: .62rem;
  flex-wrap: wrap;
}

#different-links-section {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*--------------End Of Footer Section--------------*/

/*--------------About Us Section--------------*/
#about-us-section {
  height: calc(100vh - 9.05rem);
  width: 100%;
  background-image: url("./assets/GreenTeaWallpaper.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

#about-us-text {
  text-align: center;
  color: white;
  font-size: 2rem;


}

#short-announcement {
  text-align: center;
  color: white;
  font-weight: 900;
  width: 75%;
  font-size: 1.85rem;
}

.premium-style {

  color: gold;
  font-weight: 900;

}

#about-us-text-area {
  height: calc(75vh - 8rem);
  width: 35%;
  margin-left: auto;
  padding-top: 2rem;
  padding-right: 2rem;
}

#become-a-member-area {
  margin-top: 2rem;
  height: 12rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#become-member-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    url("./assets/PeopleDrinkingTea 1.jpeg"),
    url("./assets/PeopleDrinkingTea 2.jpeg"),
    url("./assets/PeopleDrinkingTea 3.jpeg"),
    url("./assets/PeopleDrinkingTea 4.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 0%, 18%, 81%, 100%;
  z-index: 999;
}

@media (max-width: 1160px) {
  #become-member-box {
    background-position-x: 0%, 100%;

  }


}
#become-member-text {
  font-size: 2.5rem;
}

#become-member-text:hover {
  cursor: pointer;
  border-bottom: .5rem solid gold;
}

#membership-area {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#membership-form {
  height: 75%;
  width: 50%;
  background-color: white;
  position: relative;
  padding: 3rem;
}



/*--------------Buttons Section--------------*/

.teahouse-close-button {
  padding: .45rem;
  background-color: firebrick;
  color: white;
  border-radius: .5rem;
}

#member-close-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

#shopping-cart-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#shop-reset-button {
  position: absolute;
  bottom: 2rem;
  left: 45%;
}

#shop-reset-button:hover {
  cursor: pointer;
}

/*--------------End of Button List--------------*/

/*--------------Start of Register Form--------------*/
#become-member-title {
  font-size: 4rem;
  text-align: center;
  border-bottom: solid;
  margin-bottom: 1rem;
}

.member-labels {
  font-size: 2.0rem;

}

.member-input {
  font-size: 1.1rem;
}

#submit-button {

  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

#member-registration-area {

  display: inline-block;
  width: 50%;
  height: 45%;
  flex-wrap: wrap;

}

#premium-advertisement {
  width: 50%;
  display: inline-block;
  padding-right: .5rem;
  size: 1px;
  border-left: solid black;
}

#form-element {
  margin: 0;
  padding: 0;
}

#content-box {
  display: flex;
  width: 100%;
  height: 50%;
}

.member-registration-deals {
  text-align: center;
  font-size: 1.4rem;
}

#form-submit-button {
  margin: 0 auto;
  display: block;
}

#successful-form-sent {
  color: green;
}

/*--------------End of Register Form--------------*/

/*--------------Start of Locations Page--------------*/

#locations-section{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  
  align-items: center;
  flex-direction: column;
  
  

}

.not-available{
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*--------------End of Locations Page--------------*/

#tea-house-footer{
  z-index: -1;
  width: 100%;
  height: 1rem;
  position: relative;
  background-color: rgb(85, 107, 47) ;
  color: #f0f0f0;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

footer {
  border-top: 1px solid black
}


/*--------------Tea House Event Page--------------*/
.event-card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid black;
  position: relative;
}
.event-title{
  font-size: 3rem;
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
}
.event-picture-container{

  height: 40rem;
  width: 40rem;
  margin-bottom: 2rem;

}
.event-image{
  height: 100%;
  width: 100%;
}
.event-description{
  width: 40rem;
  text-align: center;
  font-size: 2.2rem;
}

.list-of-buttons{
  display: flex;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.big-tea-house-button {
  padding: .45rem;
  background-color: firebrick;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  border-width: 7px
}


.reservation-text{
  font-size: 2.7rem;
}

.reusable-form{
  
  left: 25%;
  top: 10%;
  right: auto;
  height: 75%;
  width: 50%;
  background-color: white;
  position: relative;
  padding: 3rem;
  position: absolute;
  
}

.location-title{
  text-align: center;
  font-size: 4rem;
}

.submit-message{
  max-width: 29ch;
  color: green;
}

.lock-screen-text{
  font-size: 4rem;
  margin-bottom: 10.75rem;
}

.cancel-text{
  text-align: center;
}